# NATIONAL PARKS

In [ ]:
!pip install Wikipedia
import wikipedia

Requirement already satisfied: Wikipedia in /usr/local/lib/python3.7/dist-packages (1.4.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from Wikipedia) (4.6.3)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from Wikipedia) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.0->Wikipedia) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.0->Wikipedia) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.0->Wikipedia) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.0->Wikipedia) (3.0.4)

In [ ]:
natlParks = wikipedia.page("List of national parks of the United States")
natlForests = wikipedia.page("List of national forests of the United States")

In [ ]:
natlParks.url

'https://en.wikipedia.org/wiki/List_of_national_parks_of_the_United_States'

In [ ]:
natlForests.url

'https://en.wikipedia.org/wiki/List_of_national_forests_of_the_United_States'

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [ ]:
# get the response in the form of html
parksurl = "https://en.wikipedia.org/wiki/List_of_national_parks_of_the_United_States"
table_class = "wikitable sortable plainrowheaders"
response = requests.get(parksurl)
print(response.status_code)

200

In [ ]:
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.find('table',{'class':"wikitable"})

In [ ]:
df = pd.read_html(str(table))
df = pd.DataFrame(df[0])
print(df.head())

             Name  ...                                        Description
0          Acadia  ...  Covering most of Mount Desert Island and other...
1  American Samoa  ...  The southernmost national park is on three Sam...
2          Arches  ...  This site features more than 2,000 natural san...
3        Badlands  ...  The Badlands are a collection of buttes, pinna...
4        Big Bend  ...  Named for the prominent bend in the Rio Grande...

[5 rows x 7 columns]

In [ ]:
locations = df['Location'].tolist()

In [ ]:
locations[1]

'American Samoa14°15′S 170°41′W\ufeff / \ufeff14.25°S 170.68°W'

In [ ]:
coordinates = []
for i in range(len(locations)): 
  search = locations[i].find("\ufeff") 
  stringAssign = locations[i]
  coordinates.append(stringAssign[search+5:])

In [ ]:
df.columns

Index(['Name', 'Image', 'Location', 'Date established as park[6][12]',
       'Area (2019)[13]', 'Recreation visitors (2019)[10]', 'Description'],
      dtype='object')

In [ ]:
parks = df.drop(["Image", "Location", "Date established as park[6][12]", "Area (2019)[13]", "Recreation visitors (2019)[10]", "Description"], axis=1)
parks.head()

             Name
0          Acadia
1  American Samoa
2          Arches
3        Badlands
4        Big Bend

In [ ]:
parks['Coordinates'] = coordinates

In [ ]:
parks.head()

             Name       Coordinates
0          Acadia   44.35°N 68.21°W
1  American Samoa  14.25°S 170.68°W
2          Arches  38.68°N 109.57°W
3        Badlands  43.75°N 102.50°W
4        Big Bend  29.25°N 103.25°W

# NATIONAL FORESTS

In [ ]:
forestsurl = "https://en.wikipedia.org/wiki/List_of_national_forests_of_the_United_States"
table_class_forests = "wikitable sortable plainrowheaders"
response_forests = requests.get(forestsurl)
print(response_forests.status_code)

200

In [ ]:
soup_forests = BeautifulSoup(response_forests.text, 'html.parser')
table_forests = soup_forests.find('table',{'class':"wikitable"})

In [ ]:
df_forests = pd.read_html(str(table_forests))
df_forests = pd.DataFrame(df_forests[0])
print(df_forests.head())

               NameA  ...                                       DescriptionD
0          Allegheny  ...  Pennsylvania's only national forest includes K...
1            Angeles  ...  Located in the San Gabriel Mountains at the ed...
2           Angelina  ...  Primarily longleaf, loblolly, and shortleaf pi...
3  Apache-Sitgreaves  ...  Encompassing the Mogollon Rim and White Mounta...
4       Apalachicola  ...  As the largest national forest in Florida, Apa...

[5 rows x 6 columns]

In [ ]:
df_forests.columns

Index(['NameA', 'Photo', 'Location[6]B', 'Date formed[4]C', 'Area[1]',
       'DescriptionD'],
      dtype='object')

In [ ]:
locations_forests = df_forests['Location[6]B'].tolist()

In [ ]:
locations_forests[1]

'California34°24′N 118°10′W\ufeff / \ufeff34.400°N 118.167°W'

In [ ]:
coordinates_forests = []
for i in range(len(locations_forests)): 
  search_forests = locations_forests[i].find("\ufeff") 
  stringAssign_forests = locations_forests[i]
  coordinates_forests.append(stringAssign_forests[search_forests+5:])

In [ ]:
coordinates_forests[1]

'34.400°N 118.167°W'

In [ ]:
forests = df_forests.drop(["Photo", "Location[6]B", "Date formed[4]C", "Area[1]", "DescriptionD"], axis=1)
forests['Coordinates'] = coordinates_forests

In [ ]:
forests.head()

               NameA         Coordinates
0          Allegheny   41.650°N 79.017°W
1            Angeles  34.400°N 118.167°W
2           Angelina   31.217°N 94.283°W
3  Apache-Sitgreaves  33.733°N 109.083°W
4       Apalachicola   30.183°N 84.683°W

In [ ]:
parks.loc[0,:]

Name                    Acadia
Coordinates    44.35°N 68.21°W
Name: 0, dtype: object

In [ ]:
lat_lon_list = parks['Coordinates'].tolist()

In [ ]:
parks_latitudes = []
parks_longitudes = []
for i in range(len(lat_lon_list)):
  searchlat = lat_lon_list[i].find(".")
  assignlat = lat_lon_list[i]
  if assignlat[searchlat+2] == '°':
    parks_latitudes.append(assignlat[0:searchlat+2])
  else:
    parks_latitudes.append(assignlat[0:searchlat+3])

  searchlon = lat_lon_list[i].find(" ")
  assignlon = lat_lon_list[i]
  parks_longitudes.append(assignlon[searchlon:searchlon+6])

parks_longitudes_fixed = []
for i in range(len(parks_longitudes)):
  makeNeg = float(parks_longitudes[i])*-1
  parks_longitudes_fixed.append(makeNeg)

In [ ]:
parks_latitudes[1] = -14.25

In [ ]:
forests.loc[0,:]

NameA                  Allegheny
Coordinates    41.650°N 79.017°W
Name: 0, dtype: object

In [ ]:
lat_lon_list_for = forests['Coordinates'].tolist()

In [ ]:
forests_latitudes = []
forests_longitudes = []
for i in range(len(lat_lon_list_for)):
  searchlat_for = lat_lon_list_for[i].find(".")
  assignlat_for = lat_lon_list_for[i]
  forests_latitudes.append(assignlat_for[0:searchlat_for+4])

  searchlon_for = lat_lon_list_for[i].find(" ")
  assignlon_for = lat_lon_list_for[i]
  forests_longitudes.append(assignlon_for[searchlon_for:searchlon_for+7])

forests_longitudes_fixed = []
for i in range(len(forests_longitudes)):
  makeNeg_for = float(forests_longitudes[i])*-1
  forests_longitudes_fixed.append(makeNeg_for)

In [ ]:
import numpy as np

lat1 = 27.84055132
lon1 = -82.83018329
r = 6371
p = np.pi/180
distance = []
distance_1 = []

for i in range(len(parks_latitudes)):
  lat2 = float(parks_latitudes[i])
  lon2 = float(parks_longitudes_fixed[i])

  a = 0.5 - (np.cos((lat2-lat1)*p)/2) + (np.cos(lat2*p) * ((1 - np.cos((lon2-lon1)*p))/2))
  d = 2 * r * np.arcsin(np.sqrt(a))
  distance.append(d)

for j in range(len(forests_latitudes)):
  lat2_for = float(forests_latitudes[j])
  lon2_for = float(forests_longitudes_fixed[j])

  a = 0.5 - (np.cos((lat2_for-lat1)*p)/2) + (np.cos(lat2_for*p) * ((1 - np.cos((lon2_for-lon1)*p))/2))
  d = 2 * r * np.arcsin(np.sqrt(a))
  distance_1.append(d)

lat1 = latitude value of point A

lon1 = longitude value of point A

lat2 = latitude value of point B

lon2 = longitude value of point B

r = 6371 #radius of Earth(KM)
p = 0.017453292519943295  #Pi/180

a = 0.5 - cos((lat2-lat1)*p)/2 + cos(lat1*p)*cos(lat2*p) * (1-cos((lon2-lon1)*p)) / 2

d = 2 * r * asin(sqrt(a)) #2*R*asin

In [ ]:
labels = []
labels_1 = []
for i in range(len(parks_latitudes)):
  labels.append("Park")

for j in range(len(forests_latitudes)):
  labels_1.append("Forest")

In [ ]:
parks.columns

Index(['Name', 'Coordinates'], dtype='object')

In [ ]:
# Need Parks
parkList = parks['Name'].tolist()
forestList = forests['NameA'].tolist()

In [ ]:
for a in forestList:
  parkList.append(a)

for b in forests_latitudes:
  parks_latitudes.append(b)

for c in forests_longitudes_fixed:
  parks_longitudes_fixed.append(c)

for d in distance_1:
  distance.append(d)

for e in labels_1:
  labels.append(e)

In [ ]:
finalFrame = pd.DataFrame(parkList)

In [ ]:
finalFrame['Latitude'] = parks_latitudes
finalFrame['Longitude'] = parks_longitudes_fixed
finalFrame['Distance From Home'] = distance
finalFrame['Category'] = labels

In [ ]:
finalFrame

                       0 Latitude  Longitude  Distance From Home Category
0                 Acadia    44.35    -68.210         2298.584278     Park
1         American Samoa   -14.25   -170.600        11221.723611     Park
2                 Arches    38.68   -109.500         2886.571663     Park
3               Badlands    43.75   -102.500         2573.093368     Park
4               Big Bend    29.25   -103.200         2120.170941     Park
..                   ...      ...        ...                 ...      ...
192                Wayne   39.167    -82.417         1260.097423   Forest
193       White Mountain   44.150    -71.417         2111.686457   Forest
194          White River   39.567   -106.880         2689.518133   Forest
195           Willamette   44.117   -122.180         4129.802746   Forest
196  William B. Bankhead   34.233    -87.333          844.346195   Forest

[197 rows x 5 columns]

In [ ]:
import csv
ParksForests = finalFrame.to_csv('Parks_Forests.csv', index = True)